@charset "UTF-8";

/* メインコンテンツ */
main{
	position: relative;
	z-index: 1;
}

	/* 背景テキスト */
	.background-text {
		opacity:0;
		position: absolute;
		top: 280px;
		right: 10px;
		font-size: 150px; /* サイズアップ */
		font-weight: 900;
		color: rgb(255 235 205 / 34%); /* やや濃いめに調整 */
		line-height: 0.9;
		pointer-events: none;
		z-index: 0;
		text-transform: uppercase;
	}

/* セクション共通スタイル */
.section-container {
    max-width: 1500px;
    padding: 60px 30px;
    position: relative;
    z-index: 1;
}
	.message-container{
		opacity: 0;
	}
	.section-header {
	    margin-bottom: 40px;
	}

/* ABOUT USセクション */
.about-section {
    /* margin-top: 150px; */
    padding: 100px 0 100px;
    background: #fffaf0c9;
    position: relative;
}
	.about-content {
		position: relative;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

		.about-text {
		    flex: 1;
		    opacity: 0;
		}

		.about-text span {
		    font-size: clamp( 15px, calc( 9.666666666666668px + 0.6944444444444444vw ), 18px );
		    line-height: 2.3;
		    margin-bottom: 20px;
		    color: #000000;
		}

		.about-image {
		    flex: 1;
		    border-radius: 10px;
		    overflow: hidden;
		    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
		    background:url(../img/company-vision.png);
		    width: 570px;
		    height: 300px;
		    min-width: 570px;
		    max-width: 570px;
		    min-height: 300px;
		    background-position-y: -620px;
		    background-repeat: no-repeat;
		    background-size: 140%;
		    transition: transform 0.5s ease;
		}

		.about-image:hover {
		    transform: scale(1.05);
		}


/* COMPANY PROFILEセクション */
.profile-section {
    background: #fffaf0c9;
    position: relative;
}
	.profile-content {
	    max-width: 900px;
	    opacity: 0;
	}
		.profile-table {
		    width: 100%;
		    border-collapse: collapse;
		}

		.profile-table tr {
		    border-bottom: 1px solid #ddd;
		}

		.profile-table th {
		    width: 30%;
		    padding: 20px 0px 20px 20px;
		    text-align: left;
		    font-weight: 600;
		    color: #333;
		    vertical-align: top;
		}

		.profile-table td {
		    width: 70%;
		    padding: 20px;
		    color: #333;
		}
		.profile-background-text{
		    position: absolute;
		    top: 280px;
		    right: 10px;
		    font-size: 120px;
		    font-weight: 900;
		    color: rgba(255, 235, 205, 0.34);
		    line-height: 0.9;
		    pointer-events: none;
		    z-index: 0;
		    text-transform: uppercase;
		}
		.ceo-name{
			background: url(../img/ceo-name.png);
			background-repeat: no-repeat;
			background-size: 71px;
			background-position: 18px 22px;
		}