@charset "UTF-8";

/* メインコンテンツ */
main {
    position: relative;
    z-index: 1;
}

/* トップビューテキスト */
.title {
    width: 50%;
    min-width: 720px;
    text-align: left;
    display: flex;
    justify-content: center;
}

	.title h1 {
	    color: #323232;
	    margin-bottom: 1rem;
	    width: 100%;
	    padding-top: 250px;
	    padding-left: 20px;
	    font-size: 56px;
	}

	.title h1 span {
	    font-size: 24px;
	    display: block;
	    margin-top: 10px;
	    color: #666;
	}

.contact-section {
    margin-top: 50px;
}
.contact-section:before {
    content: "　";
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #fffaf0c9, transparent);
    pointer-events: none;
}

/* レスポンシブ対応 */
@media (max-width: 768px) {
    .title {
        width: 100%;
        min-width: auto;
    }
    
    .title h1 {
        font-size: 40px;
        padding-left: 15px;
    }
}